/* Basic tags */
body {
	margin: 0px;
	background-color: white;
	font-family: sans-serif;
	color: black;
}

#body {
	margin: 90px 230px 0px 10px;
	padding: 0px;
}

a img {
	border: 0px;
}

/* Anchors */
a {
	color: #0000ff;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
	margin: 0px;
	padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 0px;
	visibility: hidden;
}

.left {
	margin: 10px;
	padding: 0px;
	float: left;
}

.right {
	margin: 10px;
	padding: 0px;
	float: right;
}

.center {
	text-align: center;
}

/* Common page elements: Header, footer, etc. */

#logo {
	position: absolute;
	top: 10px;
	left: 10px;
	border: 0px;
	z-index: 10;

	width: 64px;
	height: 64px;
}

#logo a img {
	width: 64px;
	height: 64px;
}

#hdr {
	position: absolute;
	z-index: 5;

	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 48px;

	text-align: right;

	background-color: #e3ffc3;
	border-bottom: 1px solid #807d74;
}

#banner {
	position: absolute;
	z-index: 10;

	top: 0px;
	right: 0px;
	border: 0px;

	width: 300px;
	height: 48px;

}

#banner a img {
	width: 300px;
	height: 48px;
}

#hdrNav {
	position: absolute;
	top: 54px;
	left: 0px;

	margin-left: 84px;
	text-align: left;
	vertical-align: middle;
	font-size: small;
}

#hdrNav a {
	color: #000000;
}

#hdrTitle {
	height: 48px;
	padding: 10px 10px 0px 0px;
	font-weight: bold;
}


/* Search thingy */

#search {
	font-size: small;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #dddddd;
}

#search input {
	border: 1px solid #666666;
	background-color: #ffffff;

	vertical-align: middle;
}


/* Sidebar */

#sidebar {
	position: absolute;
	top: 90px;
	right: 0px;
	width: 210px;

	/*margin-right: 10px;*/
	padding-right: 10px;
	padding-bottom: 0px;
	border-left: 1px dashed #dddddd;
	background-color: #ffffff;
}

#sidebar p {
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#sidebar p.section {
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #999999;
	background-color: #eeeeee;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}


/* Copyright footer */

#copyright {
	text-align: center;
	font-size: small;
	clear: both;

	margin-top: 10px;
	padding: 5px 0px 5px 0px;
	color: #aaaaaa;
}

#copyright a {
	color: #aaaaff;
}

#copyright a:visited {
	color: #ffaaaa;
}


/* News Sections */

p.newsitem {
	clear: left;
	margin-bottom: 20px;
}

p.newsitem img.newsicon {
	float: left;
	margin: 0px 10px 10px 10px;
	border: 0px;
}


/* Generic Classes */

div.code {
	background-color: #e0e0e0;
	color: #000000;
	white-space: pre;
	font-family: monospace;
}


body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background: white url(../star.png) -100px -200px no-repeat;
	height: 101%;
}

#page {
	margin: 0px;
	padding: 0px;
}

div.in-column {
	margin: 0 0 2em 1em;
	float: right;
	max-width: 12em;
}

hr {
	color: #888;
	background: #888;
	border: 0;
	height: 1px;
	width: 90%;
	text-align: center;
	clear: both;
}


div.body {
	clear: both;
}


div.sidebar {
	position: absolute;
	text-align: left;
	right: 0px;
	top: 60px;
	width: 27ex;
	padding-left: 1ex;
	border-left: 1ex solid #eee;
	margin-top: 4em;
}

div.sidebar h2 {
	margin-top: 0;
	padding: 5px 2ex 5px 2ex;
	background: url(../t.png) top left repeat-y;
	font-size: 100%;
}

ul.toc {
	padding: 0;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 10px;
	list-style: none;
}

ul.toc li {
	list-style: circle;
}

ul.toc li a {
	text-decoration: none;
	color: black;
}

ul.toc li a:hover {
	text-decoration: underline;
}

#general {
	list-style: none;
	background: #2E3436 url(../general_bg.png) 0 100% repeat-x;
	text-align: right;
	padding: 0 1ex;
	margin: 0;
	font-size: 70%;
}

#general li {
	display: inline;
	background: url(../general_separator.png) 0 0 no-repeat;
	padding-top: 10px;
	padding-bottom: 8px;
	margin-left: 0px;
	margin-top: 0px;
}

#general li a {
	font-weight: bold;
	color: #FFFFFF;
	margin: 0 2ex;
	text-decoration: none;
	line-height: 30px;
}

#general li a:hover {
	text-decoration: underline;
}

#general .home {
	float: left;
	background: url(../general_separator.png) 100% 0 no-repeat;
	padding-top: 0;
	padding-bottom: 0;
}

#general .home a {
	float: left;
	background: url(../foot.png) 7px 50% no-repeat;
	margin-left: 0;
	padding-left: 27px;
}


#header {
	background: #729FCF url(../crash.png) 15px 10px no-repeat;
	float: left;
	width: 100%;
	font-size: 75%;
}

#header h1 {
	margin: 0;
	margin-left: 85px;
	padding-top: 25px;
	font-size: 200%;
	color: #eeeeec;
}

#tabs {
	background: url(../bar.png) 0 100% repeat-x;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

#portal-globalnav {
	float: right;
	list-style: none;
	margin: 0;
	margin-right: 3ex;
}

#portal-globalnav li {
	float: left;
	margin: 0;
	margin-left: 0.2ex;
	font-size: 2ex;
}

#portal-globalnav li a:hover {
	color: #111111;
}

#portal-globalnav li a {
	float: left;
	text-decoration: none;
	color: #555555;
	background: url(../tab_left.png) 0 0 no-repeat;
	padding: 7px 0 7px 7px;
	border-bottom: 2px solid #CCCCCC;
}

#portal-globalnav li span {
	background: url(../tab_right.png) 100% 0 no-repeat;
	padding: 7px 28px 7px 19px;
}

#portal-globalnav li.selected a {
	color: #3566A5;
	background: url(../tab_left.png) 0 -57px no-repeat;
	border-bottom: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

#portal-globalnav li.selected a span {
	background: url(../tab_right.png) 100% -57px no-repeat;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* page content */

#menu {
}

#quickfind {
  display: inline;
  float: right;
  font-size: smaller;
}

#report-header {
  float: left;
}

#report-header-details {
  float: right;
  font-size: smaller;
}

#report-header-details span {
  font-weight: bold;
}

#report-index {
  clear: both;
}


.hidden {
  display: none;
}

h1.loading {
  background: transparent url(../loading.png) no-repeat left;
  padding-left: 25px;
}




div#content {
	clear: both;
	padding: 1em;
	margin: 1em;
}

p#report-nav,
form#quickfind {
	-moz-border-radius: 15px;
	background: #dddddd;
	padding: 10px;
}

p#report-nav a:after {
	content: "\a0\21a7";
}

p#report-nav a {
	margin-right: 1em;
}

/* crash search box */

form#crash-search {
	position: absolute;
	text-align: right;
	right: 1em;
	top: 50px;
	font-size: x-small;
}

form#crash-search input#search-crash-id {
	border: 1px solid #888888;
}

form#crash-search input#search-crash-submit {
	background: white url(../search_icon.gif) no-repeat scroll 2px center;
	cursor: pointer;
	padding: 1px 1px 1px 15px;
	text-transform: none;
	border: 1px solid #888888;
	font-size: x-small;
}


